.so {
  &-btn {
    outline: none;
    cursor: pointer;
    border: 0.2rem solid map.get($colors, primary);
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    color: map.get($colors, primary);
    transition: 0.2s;

    &:hover {
      color: white;
      background-color: map.get($colors, primary);
    }

    &:active {
      background-color: scale-color(
        $color: map.get($colors, primary),
        $lightness: 20%
      );
    }
  }
}
