body {
  font-family: Lato, PingFang SC, Microsoft YaHei, Arial, sans-serif;
  background: radial-gradient(circle at center, #f6f4ff 0%, #fff 100%);
  // background: radial-gradient(#bea5db, #fff);
  min-height: 100vh;
}

.description {
  color: #8e71c7 !important;
}

.navbar, .sidebar {
  background-color: rgba(#fff, 0.9);
}